<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home Mercado Liebre</title>
</head>
<body>
    <header id="header-back">
    <img src="/images/logo-mercado-liebre.svg" alt="Logo">
    <h1>Lugar para poner la barra de búsqueda</h1>
    <h1>Comprá en cuotas y sin tarjeta de crédito</h1>
    <nav>Genero una barra de navegacion
        <ul type="disc">
            <li><a href="#" class="ofertas">Ofertas</a></li>
            <li><a href="#" class="tiendas-oficiales">Tiendas Oficiales</a></li>
            <li><a href="#" class="vender">Vender</a></li>
            <li><a href="#" class="ayuda">Ayuda</a></li>
            <li><a href="#" class="tu-cuenta">Creá tu cuenta</a></li>
            <li><a href="#" class="ingresa">Ingresá</a></li>
            <li><a href="#" class="mis-compras">Mis compras</a></li>
        </ul> 
    </nav>
    <img src="/images/img-home-banner.jpg" alt="Home-banner">
    </header>

    <main>
        <section>
            <div>
                <h1>Basado en tu última visita:</h1>
                <img width="300px" height="300px" src="/images/img-cafetera-moulinex.jpg" alt="Imagen cafetera" class="center-imagen">
                <h3 id="precios">$6.770</h3>
                <h3 id="descuentos">40% OFF</h3>
                <h3 id="descripciones">Cafetera Moulinex</h3>
            </div>    
            <div>
                <img width="300px" height="300px" src="/images/img-macbook-pro-2019.jpg" alt="Imagen Macbook" class="center-imagen">
                <h3 id="precios">$230.000</h3>
                <h3 id="descuentos">20% OFF</h3>
                <h3 id="descripciones">MacBookPro 2019</h3>
            </div>
            <div>
                <img width="300px" height="300px" src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy" class="center-imagen">
                <h3 id="precios">$70.500</h3>
                <h3 id="descuentos">10% OFF</h3>
                <h3 id="descripciones">Samsung Galaxy S10</h3>
            </div>
            <div>
                <img width="300px" height="300px" src="/images/img-tv-samsung-smart.jpg" alt="Imagen SmartTV" class="center-imagen">
                <h3 id="precios">$23.200</h3>
                <h3 id="descuentos">5% OFF</h3>
                <h3 id="descripciones">SmartTv Samsung 43"</h3>           
            </div>
        </section>
        <section>
            <div>
                <h1>Sección de ofertas:</h1>
                <img width="300" height="300" src="/images/img-cafetera-moulinex.jpg" alt="Imagen cafetera" class="center-imagen">
                <h3 id="precios">$6.770</h3>
                <h3 id="descuentos">40% OFF</h3>
                <h3 id="descripciones">Cafetera Moulinex</h3>
            </div>
            <div>
                <img width="300" height="300" src="/images/img-macbook-pro-2019.jpg" alt="Imagen Macbook" class="center-imagen">
                <h3 id="precios">$230.000</h3>
                <h3 id="descuentos">20% OFF</h3>
                <h3 id="descripciones">MacBookPro 2019</h3>
            </div>
            <div>
                <img width="300" height="300" src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy" class="center-imagen">
                <h3 id="precios">$70.500</h3>
                <h3 id="descuentos">10% OFF</h3>
                <h3 id="descripciones">Samsung Galaxy S10</h3>
            </div>
            <div>
                <img width="300" height="300" src="/images/img-tv-samsung-smart.jpg" alt="Imagen SmartTV" class="center-imagen">
                <h3 id="precios">$23.200</h3>
                <h3 id="descuentos">5% OFF</h3>
                <h3 id="descripciones">SmartTv Samsung 43"</h3>            
            </div>
        </section>
    </main>

    <footer>
        <section>
            <i class="fa-solid fa-gift"></i> 
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift"></i> 
            <h2>Envío gratis desde $2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
        </section>
    </footer>
</body>
</html>
