<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3bdd708e98.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="text-header">
            <div class="barra-logo-buscador-compra"> 
                <div class="wrap-buscador">
                    <div class="barra-logo-buscador"> 
                        <div class="caja-logo">
                            <img src="/images/logo-mercado-liebre.svg" alt="Logo" class="logo-meli">
                        </div>
                        <div class="barra-buscadora-completa">
                            <input type="search" id="query" placeholder="Buscar productos, marcas y más">
                            <button type="submit"> <i class="fa fa-search"> </i></button>
                        </div>
                    </div> 
                </div>
                <div class="compra">
                    <i class="fa-sharp fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito </div>
                </div>
                <div class="menu-abajo">
                    <ul class="barra">
                        <li><a href="#" class="lista" style="text-decoration: none;">Ofertas</a></li>
                        <li><a href="#" class="lista" style="text-decoration: none">Tiendas Oficiales</a></li>
                        <li><a href="#" class="lista" style="text-decoration: none">Vender</a></li>
                        <li><a href="#" class="lista" style="text-decoration: none">Ayuda</a></li>
                    </ul>
                    <ul class="barra-usuario">
                        <li><div class="user-icon"> <a href="/register" style="text-decoration: none" target="_blank" class="lista">  Crea tu cuenta </a> 
                        <i class="menu-icon"> <i  class="fa-solid fa-address-card" ></i> </i></li> 
                        <li><div class="user-icon"> <a href="/login" style="text-decoration: none" target ="_blank" class="lista">  Ingresá </a> 
                        <i class="menu-icon"> <i class="fa-sharp fa-solid fa-arrow-right-from-bracket" ></i> </i></li> 
                        <li> <div class="user-icon"> <a href="#" style="text-decoration: none" target ="_blank" class="lista"> Mis compras </a> 
                        <i class="menu-icon"> <i class="fa-sharp fa-solid fa-basket-shopping" ></i> </i></li> 
                    </ul>
                </div>
            </div>
        </div>
        <button class="btn"> <i class="fas fa-bars"> </i></button>
    </header>
    
    <!--<img src="/images/img-home-banner.jpg" alt="Home-banner" class="banner">-->
    <main>
        <div class="background">
            <img src="/images/img-home-banner.jpg" alt="Home-banner" class="banner">
        <!--<img src="/banner.jpg" class="imagen-inicio-articulos"> ESTA LINEA ES DE MACA -->
            <h3>Basado en tu última visita</h3>
            <div class="ultima-visita-articulos"> 
                <div class="articulo1"> 
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen cafetera" class="imagen-producto">
                    <div class="articulo-texto"> 
                        <button class="articulo-icon"> 
                            <i class="fa-sharp fa-solid fa-truck"></i>
                        </button>   
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <p class= "descripciones">Cafetera Moulinex</p>
                    </div>
                </div> 
                <div class="articulo2">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen Macbook" class="imagen-producto">
                    <div class="articulo-texto"> 
                        <button class="articulo-icon"> 
                            <i class="fa-sharp fa-solid fa-truck"></i>
                        </button>  
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                        <p class="descripciones">MacBook Pro 2019</p>
                    </div>
                </div>
                <div class="articulo3"> 
                    <div><img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy" class="imagen-producto"></div> 
                    <div class="articulo-texto"> 
                        <button class="articulo-icon"> 
                            <i class="fa-sharp fa-solid fa-truck"></i> 
                        </button>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                        <p class="descripciones">Samsung Galaxy S10</p>
                    </div>
                </div>
                <div class="articulo4">
                    <div> <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen SmartTV" class="imagen-producto"></div>
                    <div class="articulo-texto"> 
                        <button class="articulo-icon">
                            <i class="fa-sharp fa-solid fa-truck"></i>
                        </button>  
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                        <p class="descripciones">SmartTv Samsung 43"</p>
                    </div>
                </div>
            </div>

            <h3>Ofertas</h3>
            <div class="ofertas-articulos"> 
                <div class="articulo5"> 
                    <div> <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen cafetera" class="imagen-producto"></div>
                    <div class="articulo-texto">  
                        <button class="articulo-icon">
                            <i class="fa-sharp fa-solid fa-truck"></i>
                        </button>  
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </div>
                <div class="articulo6"> 
                    <div> <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen Macbook" class="imagen-producto"></div>
                    <div class="articulo-texto">  
                        <button class="articulo-icon">
                            <i class="fa-sharp fa-solid fa-truck"></i>
                        </button>  
                        <p class= "precios">$230.000</p>
                        <p class= "descuentos">20% off</p>
                        <p class=  "descripciones">MacBook Pro 2019</p>
                    </div>
                </div>
                <div class="articulo7">
                    <div> <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy" class="imagen-producto"></div>
                    <div class="articulo-texto"> 
                        <button class="articulo-icon"> 
                            <i class="fa-sharp fa-solid fa-truck"></i>
                        </button>  
                        <p class= "precios"> $70.500</p>
                        <p class= "descuentos">10% off</p>
                        <p class=  "descripciones">Samsung Galaxy S10</p>
                    </div>
                </div>
                <div class="articulo8"> 
                    <div> <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen SmartTV" class="imagen-producto"></div>
                    <div class="articulo-texto"> 
                        <button class="articulo-icon">
                            <i class="fa-sharp fa-solid fa-truck"></i>
                        </button>  
                        <p class= "precios">$23.200</p>
                        <p class= "descuentos">5% off</p> 
                        <p class=  "descripciones">SmartTv Samsung 43"</p>
                    </div>
                </div>
            </div>
        </div>
    </main>



    <!--<main style="align-items: center;">
        <h1 class="titular">Basado en tu última visita</h1>
        <section class="container-visita">
            <div class="item">
                <img style="max-width: 100%; height: auto;" width="200" height="200" src="/images/img-cafetera-moulinex.jpg" alt="Imagen cafetera" class="center-imagen">
                <div class="icon-truck">
                    <i class="fa-solid fa-truck fa-border"></i>
                </div>
                <h3 class="precios">$6.770</h3>
                <h3 class="descuento">40% OFF</h3>
                <h3 class="descripcion">Cafetera Moulinex</h3>
            </div>    
            <div class="item">
                <img style="max-width: 100%; height: auto;" width="200" height="200" src="/images/img-macbook-pro-2019.jpg" alt="Imagen Macbook" class="center-imagen">
                <div class="icon-truck">
                    <i class="fa-solid fa-truck fa-border"></i>
                </div>
                <h3 class="precios">$230.000</h3>
                <h3 class="descuento">20% OFF</h3>
                <h3 class="descripcion">MacBookPro 2019</h3>
            </div>
            <div class="item">
                <img style="max-width: 100%; height: auto;" width="200" height="200" src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy" class="center-imagen">
                <div class="icon-truck">
                    <i class="fa-solid fa-truck fa-border"></i>
                </div>
                <h3 class="precios">$70.500</h3>
                <h3 class="descuento">10% OFF</h3>
                <h3 class="descripcion">Samsung Galaxy S10</h3>
            </div>
            <div class="item">
                <img style="max-width: 100%; height: auto;" width="200" height="200" src="/images/img-tv-samsung-smart.jpg" alt="Imagen SmartTV" class="center-imagen">
                <div class="icon-truck">
                    <i class="fa-solid fa-truck fa-border"></i>
                </div>
                <h3 class="precios">$23.200</h3>
                <h3 class="descuento">5% OFF</h3>
                <h3 class="descripcion">SmartTv Samsung 43"</h3>           
            </div>
        </section>
        <h1 class="titular" style="text-align: left; margin-left: 30px;">Sección de ofertas</h1>
        <section class="container-ofertas">
            <div class="item">
                <img style="max-width: 100%; height: auto;" width="200px" height="200px" src="/images/img-cafetera-moulinex.jpg" alt="Imagen cafetera" class="center-imagen">
                <div class="icon-truck">
                    <i class="fa-solid fa-truck fa-border"></i>
                </div>
                <h3 class="precios">$6.770</h3>
                <h3 class="descuento">40% OFF</h3>
                <h3 class="descripcion">Cafetera Moulinex</h3>
            </div>
            <div class="item">
                <img style="max-width: 100%; height: auto;" width="200px" height="200px" src="/images/img-macbook-pro-2019.jpg" alt="Imagen Macbook" class="center-imagen">
                <div class="icon-truck">
                    <i class="fa-solid fa-truck fa-border"></i>
                </div>
                <h3 class="precios">$230.000</h3>
                <h3 class="descuento">20% OFF</h3>
                <h3 class="descripcion">MacBookPro 2019</h3>
            </div>
            <div class="item">
                <img style="max-width: 100%; height: auto;" width="200px" height="200px" src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy" class="center-imagen">
                <div class="icon-truck">
                    <i class="fa-solid fa-truck fa-border"></i>
                </div>
                <h3 class="precios">$70.500</h3>
                <h3 class="descuento">10% OFF</h3>
                <h3 class="descripcion">Samsung Galaxy S10</h3>
            </div>
            <div class="item">
                <img style="max-width: 100%; height: auto;" width="200px" height="200px" src="/images/img-tv-samsung-smart.jpg" alt="Imagen SmartTV" class="center-imagen">
                <div class="icon-truck">
                    <i class="fa-solid fa-truck fa-border"></i>
                </div>
                <h3 class="precios">$23.200</h3>
                <h3 class="descuento">5% OFF</h3>
                <h3 class="descripcion">SmartTv Samsung 43"</h3>           
            </div>
        </section>
    </main>-->

    <footer>
        <div class="footer">
            <div class="footer-todos">

                <div class="footer-tarjeta">
                    <div class="footer-componentes">
                        <div class="footer-icon"> 
                            <i class="fa-sharp fa-solid fa-credit-card"></i> 
                        </div> 
                        <p class="footer-title">Pagá con tarjeta o en efectivo</p>
                        <p class="footer-p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                    </div>
                </div>
                <div class="footer-envio"> 
                    <div class="footer-componentes">
                        <div class="footer-icon">
                            <i class="fa-sharp fa-solid fa-gift"></i>
                        </div>
                        <p class= "footer-title">Envío gratis desde $ 2.500</p>
                        <p class=  "footer-p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                    </div>
                </div>

                <div class="footer-seguridad">
                    <div class="footer-componentes">
                        <div class="footer-icon">
                            <i class="fa-sharp fa-solid fa-user-shield"></i>
                        </div>
                        <p class=  "footer-title">Seguridad, de principio a fin</p>
                        <p class=  "footer-p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                    </div>
                </div>
            </div>
            <p class=  "copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>

 <!--*************************  MARIO  *******************************************       
        <div class="container-footer">
            <div class="icon-footer">
                <i class="fa-solid fa-credit-card"></i>
                <h2 class="titular-footer">Pagá con tarjeta o en efectivo</h2>
                <p class="cuerpo-texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>
            <div class="icon-footer"> 
                <i class="fa-solid fa-gift"></i>
                <h2 class="titular-footer">Envío gratis desde $2.500</h2>
                <p class="cuerpo-texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                </div>
            <div class="icon-footer">
                <i class="fa-solid fa-user-shield"></i>
                <h2 class="titular-footer">Seguridad, de principio a fin</h2>
                <p class="cuerpo-texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>        
        <div>
            <h2 class="cuerpo-texto" style="text-align: left">Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
        </div>
    </footer>
</body>
</html>-->
