<!DOCTYPE html>
<html>   
    <head>        
        <title >Crea tu cuenta</title> 
        <meta charset="UTF-8">
        <meta name="viewport" content ="width=device-width, initial-scale=1.0">   
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/register.css"> 
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet"/>
        <link rel="stylesheet" media="screen and (min-width: 769px)" href="/css/register.css" />
        <link rel="stylesheet" media="screen and (min-width: 1169px)" href="/css/register.css" />
    </head>    

    <body class="body"> 
        <header>
            <div class="header">
                <div class="caja-logo"> 
                    <div class="logo"> 
                        <img src="/images/logo-mercado-liebre.svg" alt="Logo de la empresa">
                    </div>
                </div>  
            </div>  
        </header>

        <div class="body-background">
            <div class="caja-formulario">
                <h3 class="Crea-cuenta"> Crea tu cuenta</h3>
                <form action="/registro" method="POST" class="formulario">
                    <div class="campos1"> 
                        <input type="text" name="nombre"  placeholder="Nombre y apellido" class="campo" required>
                        <input type="text" name="usuario"  placeholder="Nombre de usuario" class="campo" required>
                        <input type="email" name="email" placeholder="E-mail" class="campo" required> 
                    </div>
                    <h3> Fecha de nacimiento</h3>
                    <div class="campos2"> 
                        <input type="date" name="date"  class="campo" required> 
                        <input type="text" name="domicilio"  placeholder="Domicilio" class="campo" required>
                    </div>
                    <h3> Perfil del usuario</h3>
                    <div class="campos3">
                        <input type="radio" name="comprador" value="Comprador">
                        <label for="comprador">Comprador</label><br>
                        <input type="radio" name="vendedor" value="Vendedor">
                        <label for="vendedor">Vendedor</label><br>
                    </div>
                    <h3> intereses</h3>
                    <div class="campos4">
                        <input type="checkbox" name="hobbies" value="Electro">
                        <label for="Electro">Electro</label><br>
                        <input type="checkbox" name="hobbies" value="Moda">
                        <label for="Moda">Moda</label><br>
                        <input type="checkbox" name="hobbies" value="Hogar">
                        <label for="Hogar">Hogar</label><br>
                        <input type="checkbox" name="hobbies" value="Jugeteria">
                        <label for="Jugeteria">Jugetería</label><br>
                        <input type="checkbox" name="hobbies" value="Vida-sana">
                        <label for="Vida-sana">Vida sana</label><br>
                    </div>
                    <h3>Seleccionar una imagen para el perfil</h3>
                    <input type="file" name="avatar" accept=".jpg" multiple class="subir-imagen">
                    <h3> Elegi tu contraseña </h3>
                    <input type="password" name="clave" class="campo" required> 
                    <h3> Repetí tu contraseña </h3>
                    <input type="password" name="clave" class="campo" required> 
                    <button  class="boton"> <a href="./" style="text-decoration: none"> Enviar</button></a> 
                    <button type="reset" class="resetear">Resetear formulario</button> 
                </form>
            </div>
        </div>
        
        <div class="footer">
            <p class= "copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </body>
</html>
